*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: rgb(255, 198, 92);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(6, 6, 49);
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 20;
}

.logo {
    margin: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    height: 100%;
    padding: 30px;
    position: relative;
    border-bottom: 3px solid transparent;
}

nav ul li:hover {
    border-bottom: 3px solid orange;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.toggle-button {
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 100px;
}

.submenup {
    display: none;
    position: absolute;
    transform: translate(-45px);
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(6, 6, 49);
    margin-top: 10px;
}

.submenup li {
    border: none
}

.submenup li:hover {
    background-color: rgb(29, 29, 116);
    border-bottom: 1px solid rgb(6, 6, 49);
    border-radius: 15px;
}

.submenup.active {
    display: block;
}

.kontakt {
    position: static;
    margin-top: 140px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    background-color: black;
    width: 50%;
    transform: translate(45%);
    margin-bottom: 20px;
    z-index: 10;
    box-shadow: 10px 10px 47px 20px rgb(114, 114, 114);
}

h1 {
    color: orange;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.inla {
    padding-bottom: 10px;
}

.inla input {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 0px 40px 0px;
    width: 97%;
    cursor: pointer;
    background-color: rgb(155, 155, 155);
}

.inla input::placeholder {
    color: rgb(180, 180, 180);
}

.inla input:hover {
    background-color: rgb(218, 218, 218);
}

.inla input:focus {
    background-color: white;
    border-color: black;
}

.inla label {
    font-size: 20px;
    color: white;
}

form button {
    color: white;
    background-color: rgb(106, 106, 255);
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

form button:hover {
    background-color: rgb(46, 203, 255);
    cursor: pointer;
    color: black;
}

.nachricht {
    width: 98%;
    border: 2px solid transparent;
    border-radius: 5px;
    height: 100px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    background-color: rgb(155, 155, 155);
    cursor: pointer;
}

.nachricht::placeholder {
    color: rgb(180, 180, 180);
}

.nachricht:hover {
    background-color: rgb(218, 218, 218);
}

.nachricht:focus {
    background-color: white;
    border-color: black;
}

@media(max-width:700px){
    .list-container {
        display: none;
        width
        : 100%;
    }

    .toggle-button {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;        
    }

    .list-container ul {
        flex-direction: column;
        width: 100%;
    }

    .list-container li {
        text-align: center;
    }

    .list-container.active {
        display: flex;
    }

    .submenup {
        position: static;
        transform: translate(0px);
        background-color: lightblue;
        border-radius: 15px;
    }

    .submenup li:hover {
        background-color: rgb(151, 195, 209);
        border: none;
    }
    .submenup li a {
        font-weight: normal;
        color: rgb(6, 6, 49);
    }
    nav ul li a {
        font-weight: bold;
    }
    
    .submenup.active {
        display: block;
    }

    .kontakt{
        position: static;
        margin-top: 110px;
        transform: translate(1%);
        margin-left: 10px;
        margin-right: 20px;
        width: auto;
        margin-left: 25px;
        margin-right: 35px;
        box-shadow: none;
    }

    .kontakt.active {
        transform: translate(1%, 48.5%);
    }

    .nachricht {
        width: 99%;
        font-size: 17px;
    }

    form button {
        width: 102%;
    }

}