*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(199, 255, 255);
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(6, 6, 49);
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 20;
}

.logo {
    margin: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    height: 100%;
    padding: 30px;
    position: relative;
    border-bottom: 3px solid transparent;
}

nav ul li:hover {
    border-bottom: 3px solid orange;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.toggle-button {
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 100px;
}

.submenup {
    display: none;
    position: absolute;
    transform: translate(-45px);
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(6, 6, 49);
    margin-top: 10px;
}

.submenup li {
    border: none
}

.submenup li:hover {
    background-color: rgb(29, 29, 116);
    border-bottom: 1px solid rgb(6, 6, 49);
    border-radius: 15px;
}

.submenup.active {
    display: block;
}

main {
    color: black;
}

.content {
    position: absolute;
    top: 110px;
    left: 20px;
    right: 20px;
}

.content h1 {
    color: rgb(236, 154, 0);
    text-decoration: underline;
    padding-bottom: 8px;
}

.content h2 {
    color: green;
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 32px;
    margin-left: 20px;
}

.container {
    display: flex;
}

.box {
    flex: 1;
    margin-left: 20px;
}

.box p {
    line-height: 23px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

hr {
    margin: 15px 45px 0px 20px;
    height: 2px;
    border-radius: 15px;
    border: none;
    background-color: black;
}

@media(max-width:700px) {
.list-container {
    display: none;
    width: 100%;
}

.toggle-button {
    display: flex;
}

nav {
    flex-direction: column;
    align-items: flex-start;        
}
.list-container ul {
    flex-direction: column;
    width: 100%;
}

.list-container li {
    text-align: center;
}

.list-container.active {
    display: flex;
}

.submenup {
    position: static;
    transform: translate(0px);
    background-color: lightblue;
    border-radius: 15px;
}

.submenup li:hover {
    background-color: rgb(151, 195, 209);
    border: none;
}

.submenup li a {
    font-weight: normal;
    color: rgb(6, 6, 49);
}

nav ul li a {
    font-weight: bold;
}

.submenup.active {
    display: block;
}

.container {
    flex-direction: column;
}

.content h1 {
    font-size: 25px;
}

.content h2 {
    font-size: 22px;
}

.content.active {
    transform: translate(0, 325px);
}

hr {
    margin-right: 25px;
}

}