*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: rgb(201, 181, 181);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(6, 6, 49);
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 20;
}

.logo {
    margin: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    height: 100%;
    padding: 30px;
    position: relative;
    border-bottom: 3px solid transparent;
}

nav ul li:hover {
    border-bottom: 3px solid orange;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.toggle-button {
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 100px;
}

.submenup {
    display: none;
    position: absolute;
    transform: translate(-45px);
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(6, 6, 49);
    margin-top: 10px;
}

.submenup li {
    border: none
}

.submenup li:hover {
    background-color: rgb(29, 29, 116);
    border-bottom: 1px solid rgb(6, 6, 49);
    border-radius: 15px;
}

.submenup.active {
    display: block;
}

.head {
    position: relative;
    top:86px;
    z-index: 10;   
}

.heading {
    position: absolute;
    top: 25%;
    left: 40%;
    font-weight: bold;
    text-decoration: underline;
    color: orange;
    text-shadow: 4px 4px black;
}

#main-img {
    width: 100%;
    height: auto;
}

main {
    margin: 106px 10px 10px 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

main h2 {
    color: green;
    text-decoration: underline;
    
}

.sec-atl {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.main-atl {
    flex: 1;
    padding: 10px;
    margin: 8px;
    background-color: lightgreen;
    border-radius: 5px;
    position: relative;
}

.main-atl:hover {
    box-shadow: inset 0 0 0 3px rgb(58, 124, 146);
    transition: 0.7s;
}

.main-atl h3 {
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 8px;
}

.main-atl img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.main-atl p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.main-atl i {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.mh {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-style: italic;
}

.mh:hover {
    font-size: 17px;
}

.special-img {
    transform: translate(50%);
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

table tr th, table tr td {
    border: 1px solid black;
    padding: 7px
}

tr:nth-child(1) {
    background-color: #d3d3d3;
}

tr:nth-child(2) {
    background-color: lightblue;
}

footer {
    padding: 10px;
    padding-top: 20px;
    margin: 10px;
    background-color: rgb(210, 242, 255);
    border-radius: 5px;
}

footer p {
    text-align: center;
    color: black;
}

footer strong {
    font-size: 17px;
    
}

@media(max-width: 700px) {
    .list-container {
        display: none;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;        
    }
    .list-container ul {
        flex-direction: column;
        width: 100%;
    }

    .list-container li {
        text-align: center;
    }

    .list-container.active {
        display: flex;
    }

    .submenup {
        position: static;
        transform: translate(0px);
        background-color: lightblue;
        border-radius: 15px;
    }

    .submenup li:hover {
        background-color: rgb(151, 195, 209);
        border: none;
    }

    .submenup li a {
        font-weight: normal;
        color: rgb(6, 6, 49);
    }

    nav ul li a {
        font-weight: bold;
    }
    
    .submenup.active {
        display: block;
    }

    .heading {
        left: 25%;
        top: 18%
    }

    .head {
        top: 80px;
    }
    
    .sec-atl {
        flex-direction: column;
    }

    table {
        margin-bottom: 20px;
    }
    
    .content.active {
        transform: translate(0, 325px);
    }
}

@media(max-width: 480px) {
    .heading {
        left: 16%;
        top: 20px;
    }

    main {
        margin-top: 90px;
    }
}