body {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

nav {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(6, 6, 49);
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 20;
}

.logo {
    margin: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: none;
    margin-bottom: 0.5px;
}

nav ul li {
    height: 100%;
    padding: 30px;
    position: relative;
    border-bottom: 3px solid transparent;
}

nav ul li:hover {
    border-bottom: 3px solid orange;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.toggle-button {
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 100px;
}

.submenup {
    position: absolute;
    background-color: rgb(6, 6, 49);
    transform: translate(-45px);
    border-radius: 0px 0px 15px 15px;
    display: none;
    padding-top: 10px;
}

.submenup li {
    border: none;
    margin-left: -40px;
}

.submenup li:hover {
    border:none;
    background-color: rgb(29, 29, 116);
    border-radius: 15px;
}

.submenup.active {
    display: block;
}

.content {
    position: absolute;
    top: 110px;
    left: 20px;
    right: 20px;
    width: auto;
}

.content h1 {
    color: orange;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}

.sub-nav {
    position: relative;
    margin-left: 180px;
}

.sub-nav ul {
    display: flex;
    padding-left: 0px
}

.sub-nav ul li {
    padding: 10px;
    list-style-type: none;
    width: 100%;
}

.sub-nav ul li a {
    text-decoration: none;
    font-size: 17px;
    color: blue;
}

.sub-nav ul li a:hover {
    color: rgb(0, 0, 148);
    font-size: 17.4px;
}

.special a {
    padding: 6px;
    border: none;
    border-radius: 10px;
    line-height: 30px;
}

.atl {
    position: absolute;
    left: 20%;
    right: 20%;
}

.atl h1 {
    font-size: 28px;
    font-weight: normal;
    color: green;
}

.hr {
    margin: 10px -110px 10px -135px;
    height: 2px;
    border: none;
    border-radius: 25px;
    background-color: green;
    margin-bottom: 30px;
}

.hr-special {
    margin: 10px -110px 10px -135px;
    height: 2px;
    border: none;
    border-radius: 25px;
    background-color: green;
    margin-top: 35px;
    margin-bottom: 30px;
}

.atl img {
    width: 50%;
    position: relative;
    left: 25%;
    right: 25%;
}

.atl p {
    line-height: 23px;
    text-align: center;
}

@media(max-width:1250px) {
    .sub-nav {
        margin-left: 9%;
    }
}

@media(max-width:750px) {
    .list-container {
        display: none;
        width: 100%;
        margin-left: -20px;
    }

    .toggle-button {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;        
    }
    .list-container ul {
        flex-direction: column;
        width: 100%;
    }

    .list-container li {
        text-align: center;
    }

    .list-container.active {
        display: flex;
    }

    .submenup {
        position: static;
        transform: translate(-19px);
        background-color: lightblue;
        border-radius: 15px;
        margin-top: 10px;
    }
        

    .submenup li:hover {
        background-color: rgb(151, 195, 209);
        border: none;
    }

    .submenup li a {
        font-weight: normal;
        color: rgb(6, 6, 49);
        padding: 0px;
    }

    nav ul li a {
        font-weight: bold;
    }
    
    .submenup.active {
        display: block;
    }

    .atl {
        left: 10px;
        right: 10px;
    }

    .sub-nav {
        margin-left: 3%;
    }

    .content.active {
        margin-top: 325px;
    }
}

@media(max-width:500px) {
    .sub-nav {
        margin-left: 7px;
    }

    .sub-nav ul li a {
        font-size: 15px;
    }

    .content {
        left: 5px;
    }

    h1 {
        margin-left: 10px;
    }
}